/renv/library/
/renv/python/
/node_modules/
/.quarto/
/_site/
/jharmon.xyz-ssl-bundle/
/_freeze/
/.Rproj.user/

.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.quarto
.DS_Store
.netlify
package.jsonaloha-kahuina/docs/
