
.Ruserdata
.Rdata
.httr-oauth
.quarto


/.quarto/
/_site/
/jharmon.xyz-ssl-bundle/
/_freeze/
/.Rproj.user/
.Rhistory
.RData
.DS_Store
.netlify
/renv/library/
/renv/python/
/node_modules/
package.json